editor: visual

project:
  type: website

format:
  html:
    toc: true
    toc-location: right
    theme: [united, theme.scss]
    css: styles.css
    self-contained: true
    link-external-newwindow: true
    link-external-icon: false
    backgroundcolor: "#F5F2E9"

execute: 
  freeze: false
  warning: false

website:
  title: "Home"
  favicon: favicon.ico
  search: false
  navbar:
    tools:
      - icon: github
        href: https://github.com/jhelvy/smartcharging
    left:
      - icon: house-door
        href: pages/1_about.qmd
        text: "About"
      - icon: person-badge
        href: pages/2_people.qmd
        text: "People"
      - icon: file-slides
        href: pages/3_presentation.qmd
        text: "Presentation"
      - icon: question-circle-fill
        href: pages/4_faq.qmd
        text: "FAQ"