/* Blockquote */
blockquote {
  background-color: #E5DFD5;
  padding: 10px;
  border-color: #5654A2;
  border-radius: 5px;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #E5DFD5;
  border-bottom: solid #E5DFD5;
}

/* Highlight Color */
::selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}
::-moz-selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}
