/* Blockquote */
blockquote {
  background-color: #DDDCEC;
  padding: 10px;
  border-color: #5654A2;
  border-radius: 5px;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #E5DFD5;
  border-bottom: solid #E5DFD5;
}

/* Highlight Color */
::selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}
::-moz-selection {
  background-color: #D6C2DD !important;
  color: #694696 !important;
}

/* Slide Embedding */
.slide-wrapper {
  position: relative;
  width: 100%;
  height: 0%;
  padding-bottom: 75.2%;
}

.slide-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #5654A2;
}
