/*-- scss:defaults --*/
// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$font-family-monospace: "Monaco", !default;
$presentation-font-size-root: 36px;
$presentation-font-smaller: 0.75;
$presentation-line-height: 1.3;

// colors
$body-bg: #F8F7F0 !default;
$body-color: #564232 !default;
$link-color: #5654A2 !default;
$selection-color: #694696 !default;
$selection-bg: #D6C2DD !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-h1-font-size: 1.6em;
$presentation-h2-font-size: 1.3em;
$presentation-h3-font-size: 1.2em;
$presentation-h4-font-size: 1.1em;
$presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: #5654A2 !default;

// Code Blocks
$code-block-bg: #F5F2E9 !default;
$code-block-border-color: lighten($body-color, 60%);
$code-block-font-size: 0.6em;

// Inline Code
$code-color: #ED6D46 !default;
$code-bg: #EDEDED !default;