/* Table */
th {
  font-size: 24px;
}

.centered-text {
  text-align: center;
  margin-top: 1em;
  color: #FF5733;
}

.container {
  border: 2px solid #333; /* A solid border with a color */
  padding: 10px;          /* Padding inside the container */
  margin: 5px auto;      /* Margin to center the container */
  max-width: 90%;         /* Maximum width of the container */
  border-radius: 8px;     /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow for effect */
}
